<%- include('components/header') %>
<link rel="stylesheet" type="text/css" href="/css/home.css">
<div class="banner">
	<div class="swiper-container ban-swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide-1">
				<div class="text-cnt">
					<h2>致远任重，敦本务实</h2>
					<p>勤礼莫如致敬，尽力莫如敦笃 —— 《左传·公成十三年》</p>
				</div>

			</div>
			<div class="swiper-slide slide-2">
				<div class="text-cnt">
					<h2>专注</h2>
					<p>令人难以置信胜诉率奇迹，源自每一次庭审都全力以赴。法庭，是我们的主战场，胜败越执着，锋锐越难当。</p>
				</div>
			</div>
			<div class="swiper-slide slide-3">
				<div class="text-cnt">
					<h2>专业</h2>
					<p>令人难以置信胜诉率奇迹，源自每一次庭审都全力以赴。法庭，是我们的主战场，胜败越执着，锋锐越难当。</p>
				</div>
			</div>
			<div class="swiper-slide slide-4">
				<div class="text-cnt">
					<h2>专心</h2>
					<p>令人难以置信胜诉率奇迹，源自每一次庭审都全力以赴。法庭，是我们的主战场，胜败越执着，锋锐越难当。</p>
				</div>
			</div>

		</div>
		<div  class="ban-pagination swiper-pagination"></div>
	</div>

</div>

<div class="item clearfloat">
	<div class="container">
		<div class="md case">
			<img src="/img/case.jpg" alt="经典案例">
			<div class="cnt">
				<h3><a href="/cases/">经典案例</a></h3>
				<p>经典案例大致叙述-经典案例大致叙述-经典案例大致叙述-经典案例大致叙述-经典案例大致叙述-</p>
				<div class="more clearfloat">
					<a href="/cases/">more></a>
				</div>
			</div>
		</div>
		<div class="md work-flow">
			
			<div class="mask">
				<a href="/workFlow/">案件审查流程</a>
			</div>
		</div>
	</div>
	<div class="container work-class">
		<div class="term"><a href="/workClass/#0" >企业风险管理</a></div>
		
		<div class="term"><a href="/workClass/#1" >合同纠纷处理</a></div>
		<div class="term"><a href="/workClass/#2" >公司法务</a></div>
		<div class="term"><a href="/workClass/#3" >房地产纠纷法律服务</a></div>
		<div class="term"><a href="/workClass/#4"  style="font-size: 16px;">房地产非诉法律服务业务</a></div>
		<div class="term"><a href="/workClass/#5" >侵权法律</a></div>
		<div class="term"><a href="/workClass/#6" >刑事辩护与诉讼</a></div>
		<div class="term"><a href="/workClass/#7" >婚姻继承</a></div>
		<div class="term"><a href="/workClass/#8" >劳动法业务</a></div>
		<div class="term"><a href="/workClass/#9" >复杂案件解决</a></div>
	</div>
</div>
<div class="item">
	<div class="container about">
		<h2>关于我们</h2>
		<p>北京致敦律师事务所，是一家综合性法律服务机构，主要从事企业风险管理的专业法律服务及各类诉讼、非诉业务。由一批毕业于国内外知名学府，具有深厚理论基础和丰富实践经验的精英律师组建而成。为近千家企业提供风险管理服务，获得客户良好评价，在企业风险管理服务业内树立了领先地位。</p>
		<p>为了给当事人提供及时有效的服务，致敦律师事务所联合全国大中城市的数百家专业律师事务所，发起设立了“致敦专业律所联盟”，并聘请了国内外高校、科研院所以及专业机构的教授和专家作为顾问团队，能够为不同区域或行业的企业提供便捷的专业服务。</p>
		<p>致敦律师事务所专注于企业风险管理业务，以法律为基础，结合商务、财务等管理知识，根据企业特点和要求，提供最有针对性、最有效的专业风险管理和风险控制解决方案以及顾问服务，为企业发展提供决策参考。
		</p>
	</div>
	<div class="container">
		<div class="cultural md">
			<div class="swiper-container cultural-swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide slide-1">
						<img src="/img/peo/0.jpg" alt="">
					</div>
					<div class="swiper-slide slide-2">
						<img src="/img/peo/1.jpg" alt="">
					</div>
					<div class="swiper-slide slide-3">
						<img src="/img/peo/2.jpg" alt="">
					</div>
					<div class="swiper-slide slide-3">
						<img src="/img/peo/3.jpg" alt="">
					</div>
					<div class="swiper-slide slide-3">
						<img src="/img/peo/4.jpg" alt="">
					</div>
					<div class="swiper-slide slide-3">
						<img src="/img/peo/5.jpg" alt="">
					</div>
				</div>
				<div class="swiper-button-prev cultural-swiper-prev"></div>
				<div class="swiper-button-next cultural-swiper-next"></div>
			</div>

		</div>
		<div class="map md">
			<link rel="stylesheet" href="/css/main1119.css"/>
			<style type="text/css">
				.info-title {
					color: white;
					font-size: 14px;
					background-color:blue;
					line-height: 26px;
					padding: 0px 0 0 6px;
					font-weight: lighter;
					letter-spacing: 1px
				}
				.info-content {
					font: 12px Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial;
					padding: 4px;
					color: #666666;
					line-height: 23px;
				}
				.info-content img {
					float: left;
					margin: 3px;
				}
			</style>
			<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=57a7a49cc8bdbef276a30d2c491a5e3a&plugin=AMap.AdvancedInfoWindow"></script>
			<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
			<div id="container"></div>

			<script type="text/javascript">
				var lnglat = [116.437074,40.00174];
				var map = new AMap.Map('container', {
					resizeEnable: true,
					center: lnglat,
					zoom: 15
				});
				var marker = new AMap.Marker({
					position: lnglat
				});
				marker.setMap(map);

				var content=/*'<div class="info-title">高德地图</div>*/'<div class="info-content">' +
				'致敦律师事务所</div>';
				var  infowindow1 = new AMap.AdvancedInfoWindow({
					content: content,
					asOrigin: false,
					placeSearch: false,
					offset: new AMap.Pixel(0, -30)
				});
				infowindow1.open(map,lnglat);
			</script>
		</div>
	</div>
	
</div>

<%- include('components/footer')%>