<%- include('components/header') %>
<div class="item">
	<div class="banner"></div>
	<div class="container">

		<div class="bread-nav">
			<span class="bread-span">首页</span>
			<span class="bread-span">></span>
			<span class="bread-span nav-active">案件审查流程</span>
		</div>
		<div>
			<img class="content" src="/img/work-flow-content.jpg" alt="">
		</div>
	</div>
</div>
<style type="text/css">
	.banner{
		margin-top: 80px;
		background-image: url(/img/ban-05.jpg);
		height: 400px;
		background-size: cover;
		background-position: center;
	}
	.content{
		display: block;
		width: 100%;
		margin-top: 60px;
		margin-bottom: 60px;
	}

</style>
<%- include('components/footer') %>