/* banner */
.banner .slide-1{	
	background-image: url(/img/ban-03.jpg);
}
.banner .slide-2{
	background-image: url(/img/ban-02.jpg);
}
.banner .slide-3{
	background-image: url(/img/ban-06.jpg);
}
.banner .slide-4{
	background-image: url(/img/peo/0.jpg);
}
.banner .swiper-slide{
	height: 100vh;
	background-position: top center;
	background-size: cover;
	background-color: #f9f9f9;
}
.banner .swiper-slide .text-cnt{
	position: absolute;
	bottom: 80px;
	color: #eee;
	left: 40px;
}
.banner .swiper-slide .text-cnt h2{
	font-size: 56px;
	line-height: 1.8em;
}
.banner .swiper-slide .text-cnt p{
	font-size: 18px;
	line-height: 1.8em;
}
.ban-pagination .swiper-pagination-bullet-active{
	background-color: #fff;
	opacity: 1;
}
.ban-pagination .swiper-pagination-bullet{
	width: 40px;
	height: 4px;
	background-color: #fff;
	border-radius: 0;
}
.item{
	background-color: #f6f6f6;
	padding-top: 20px;
	padding-bottom: 20px;
}
.item .md{
	float: left;
}
.item .case{
	width: 36%;
	height: 508px;
}
.item .case>img{
	width: 100%;
	display: block;
}
.item .case .cnt{
	padding: .8rem 2rem;
	height: 202px;
	background-color: #c6c6c6;
}
.item .case .cnt h3{
	margin-bottom: 1.2rem;
}
.item .case .cnt h3 a{
	color: #333;
}
.item .case .cnt p{
	color: #666;
	font-size: 16px;
	line-height: 1.6em;
}
.item .case .cnt .more{
	padding: 1.2rem 0;
	
}
.item .case .cnt .more a{
	display: block;
	float: right;
	width: 6rem;
	color: #222;
	line-height: 2rem;
	border: 2px solid #222;
	text-align: center;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}
.item .case .cnt .more a:hover{
	color: #fff;
	background-color: #222;
}
.item .work-flow {
	position: relative;
	width: 62%;
	height: 488px;
	margin-left: 24px;
	background-image: url(/img/work-flow.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.item .work-flow>img{
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.item .work-flow:hover .mask,.item .cultural:hover .mask{
	opacity: 1;
}
.item .work-flow .mask,.item .cultural .mask{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height:100%;
	opacity: .6;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	background-color: rgba(0,0,0,.8);
}
.item .work-flow .mask a,.item .cultural .mask a{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30%;

	padding: 20px 0;
	text-align: center;
	color: #fff;
	border: 2px solid #fff;
	font-size: 24px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.item .work-class{
	
	padding: 100px 12px;
	background-image: url(/img/work-class.jpg);
	background-size: cover;
	background-position: center;
}
.item .work-class .term{	
	float: left;
	width: 20%;
	text-align: center;
	font-size: 20px;

}
.item .work-class .term a{
	display: block;
	padding-top: 80px;
	height: 180px;
	color: #111;
	border: 2px solid rgba(0,0,0,0.8);
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.item .work-class .term a:hover{
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
.item .cultural{
	width: 60%;
	height: 480px;
	position: relative;
	background-size: cover;
	background-image: url(/img/peo/0.jpg);
}

.item .map{
	width: 40%;
	height: 480px;
	position: relative;
}




@media screen and (max-width: 768px){
	.banner .swiper-slide .text-cnt{
		left: 1.5rem
	}
	.banner .swiper-slide .text-cnt h2{
		font-size: 2rem;
	}
	.banner .swiper-slide .text-cnt p{
		font-size: 1.1rem;
	}
	.item .case,.item .work-flow,.item .cultural,.item .map{
		width: 100%;
		margin-left: 0px;
	}
	.item .work-flow .mask a{
		width: 50%;
	}
	.item .work-class{
		padding: 3rem 0;
	}
	.item .work-class .term{	
		float: left;
		width: 50%;
		text-align: center;
		font-size: 14px;


	}
	.item .work-class .term a{
		display: block;
		padding-top: 80px;
		color: #111;
		border: 2px solid rgba(0,0,0,0.8);
		margin-left: 8px;
		margin-right: 8px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.item .map{
		height: 360px;
		position: relative;
	}

}